<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard :: ToDo Rails</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/changepasswd.css}">
</head>
<body>
<div class="wrapper">

    <!-- Include the Sidebar Menu -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- Header Section -->
    <div class="header" th:fragment="header">
        <div class="logo-section">
            <img th:src="@{/images/logo.png}" alt="ToDo Rails Logo" class="logo">
            <div class="text-section">
                <h1>ToDo Rails</h1>
                <p>Keep Your Goals on Track</p>
            </div>

            <div class="heading-section">
                <img th:src="@{/images/change_passwd.png}"/>
                Change Password
            </div>
        </div>
        <div class="auth-links">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <!-- Main Content for Login Page -->
    <div class="container">
        <h2>Change Password</h2>

        <div id="error-messages-client" class="client-alert flash-alert-danger" style="display: none;">
            <h2 class="error-heading">Please correct the following errors:</h2>
            <ul id="error-list"></ul>
        </div>

        <form action="/changepasswd" method="post" class="password-form" onsubmit="return validateChangePasswordForm()">
            <!-- Current Password Field -->
            <label for="currentPassword">Enter current password</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password" >

            <!-- New Password Field -->
            <label for="newPassword">Enter new password</label>


            <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" >

            <!-- Confirm New Password Field -->
            <label for="confirmPassword">Confirm new password</label>
            <!-- TODO 21: add placeholder="Re-enter new password"  -->
            <input type="password" placeholder="Re-enter new password" id="confirmPassword" name="confirmPassword"  >

            <!-- Button Group for Continue and Cancel -->
            <div class="button-group">
                <button type="submit" class="btn btn-continue">Continue</button>
                <button type="button" id="btn-cancel" class="btn btn-cancel" onclick="window.location='/dashboard'">Cancel</button>
            </div>
        </form>
    </div>


    <!-- Include the footer (same as index.html) -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script th:src="@{/js/menu.js}"></script>
<script th:src="@{/js/changepasswd.js}"></script>
</body>
</html>
