<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ToDo Rails</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="wrapper">

    <!-- Header Section -->
    <div class="header">
        <div class="logo-section">
            <img th:src="@{/images/logo.png}" alt="ToDo Rails Logo" class="logo">
            <div class="text-section">
                <h1>ToDo Rails</h1>
                <p>Keep Your Goals on Track</p>
            </div>
        </div>
        <div class="auth-links">
            <a th:href="@{/}">Home</a>
        </div>
    </div>

    <!-- Main Content for Login Page -->
    <div class="container login-container">
        <h1>Login</h1>
        <!-- display flash message, if redirected from registration after success -->
        <div th:if="${successMessage}" class="flash-alert flash-alert-success">
            <h2 th:text="${successMessage}"></h2>
        </div>
        <!-- end display flash message, if redirected from registration after success -->

        <!-- display error message, if redirected from login after failure -->
        <div th:if="${param.error}" class="flash-alert flash-alert-danger">
            Invalid username or password. Please try again.
        </div>
        <!-- end display error message, if redirected from login after failure -->

        <form action="/login" method="post" >
            <label for="username">Username or Email:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username or email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit" class="btn btn-login">Continue</button>

            <div class="error-message" th:if="${param.error}">
                Invalid username or password, please try again.
            </div>
        </form>
        <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
    </div>

    <!-- Include the footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
